<script type="text/javascript">
	$('#form-registro').validate({
        rules: {
            'zona[nombre]': {  required: true },
        },
        messages:{
        	'zona[nombre]': {  required: 'El campo Nombre es obligatorio' },
        },
        submitHandler: function(form) {
           enviar(form);
        },
        showErrors: function(errorMap, errorList) {
            if (errorList.length > 0) {
            }
        },
        invalidHandler: function(event, validator) {
            if (validator.errorList.length > 0) {
            	for (var i = 0; i < validator.errorList.length; i++) {
            		mostrarMensaje(validator.errorList[i].message,'Error');
            	};
                return false;
            }
        },
        errorPlacement: function(error, element) {
            return false;
        }
    });

	var establecimiento = null;
	var mapa;



	function loadMap() {
		mapa = new google.maps.Map(document.getElementById('mapaEdit'), {
			center:new google.maps.LatLng(2.444182700617672,-76.61384582519531),
			zoom:13,
			mapTypeId:google.maps.MapTypeId.ROADMAP,
			scrollwheel: false
		});

		mapa.addListener('click', function(evento) {
			$('#coordenadas').val(evento.latLng.lat()+','+evento.latLng.lng());
			if(establecimiento){
				establecimiento.setPosition(new google.maps.LatLng(evento.latLng.lat(),evento.latLng.lng()));
				establecimiento.setTitle('Establecimiento');
			}else{
				establecimiento = new google.maps.Marker({
					position: evento.latLng,
					map: mapa,
					title: 'Establecimiento'
				});
			}

		});

		google.maps.event.addListener(mapa, "idle", function(){
			google.maps.event.trigger(mapa, 'resize');
		});
	}

     function enviar(form){
     	$('#modal-cargando').modal('show');
        var datos = $('#form-registro').serialize();
        $.ajax({
            url:"{{path('guardarZona')}}",
            type: 'post',
            dataType: 'json',
            data: datos,
            success: function (data){
                if(data.valor){
                	$.ajax({
			            type: "POST",
			            url: '{{path("registrosZonas")}}',
			            dataType: "html",
			            
			            success: function(data) {
			                $('#registros').html(data);
			            }
			        });
                 	$('#btn-guardar').unbind();
                	$('#modal').modal('hide');
                    $('#modal-title').html('');
					$('#modal-content').html('<br>CARGANDO . . .');
					$('#modal-footer').html('');
					mostrarMensaje(data.mensaje,'Exito');         
                }else{
                	mostrarMensaje(data.mensaje,'Error');
                }

                $('#modal-cargando').modal('hide');
            }

        });

    }


</script>

{{ form_start(form, {'attr': {'id': 'form-registro','class':'form-horizontal style-form' }}) }}
	<div class="form-group">
	  <label class="col-sm-3 col-sm-3 control-label"><strong>Nombre (*)</strong></label>
	  <div class="col-sm-9">
	      {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
	  </div>
	</div>
<div class="form-group" >
	<label class="col-sm-3 col-sm-3 control-label"><strong>Centro</strong></label>
	<div class="col-sm-9">
		<input id="coordenadas" name="coordenadas" type="hidden">
		<div style="height:100%; width:100%;">
			<div id="mapaEdit" style="height: 380px;"></div>
		</div>
	</div>
</div>
	

{{ form_rest(form) }}

<script>
	$(document).ready(function () {
		loadMap();
	})


</script>