<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>{% block titulo %}M칩dulo de administraci칩n{% endblock %}</title>

        {% block incluirCss %}    
            <!-- Bootstrap core CSS -->
            <link href="{{asset('bundles/app/css/bootstrap.css')}}" rel="stylesheet">
            <!--external css-->
            <link href="{{asset('bundles/app/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/js/gritter/css/jquery.gritter.css')}}" />
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/lineicons/style.css')}}">    
            
            <!-- Custom styles for this template -->
            <link href="{{asset('bundles/app/css/style.css')}}" rel="stylesheet">
            <link href="{{asset('bundles/app/css/style-responsive.css')}}" rel="stylesheet">
        {% endblock %}
        
        {% block css %}{% endblock %}

        {% block incluirJs %}
            
            <script src="{{asset('bundles/app/js/jquery.js')}}"></script>
            <script src="{{asset('bundles/app/js/jquery-1.8.3.min.js')}}"></script>
            <script src="{{asset('bundles/app/js/bootstrap.min.js')}}"></script>
            <script class="include" type="text/javascript" src="{{asset('bundles/app/js/jquery.dcjqaccordion.2.7.js')}}"></script>
            <script src="{{asset('bundles/app/js/jquery.scrollTo.min.js')}}"></script>
            <script src="{{asset('bundles/app/js/jquery.nicescroll.js')}}" type="text/javascript"></script>
            <script src="{{asset('bundles/app/js/jquery-validate/jquery.validate.js')}}" type="text/javascript"></script>

            <!--common script for all pages-->
            <script src="{{asset('bundles/app/js/common-scripts.js')}}"></script>

            <!--script for this page-->
            <script type="text/javascript" src="{{asset('bundles/app/js/gritter/js/jquery.gritter.js')}}"></script>
            <script type="text/javascript">
                function mostrarMensaje(mensaje,estado){
                    $.gritter.add({
                        // (string | mandatory) the heading of the notification
                        title: estado,
                        // (string | mandatory) the text inside the notification
                        text: mensaje,
                        // (bool | optional) if you want it to fade out on its own or just sit there
                        sticky: true,
                        // (int | optional) the time you want it to be alive for before fading out
                        time: '',
                        // (string | optional) the class name you want to apply to that specific message
                        class_name: 'my-sticky-class'
                    });

                };



            </script>
        {% endblock %}    

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        <section id="container" >
             <header class="header black-bg">
                  <div class="sidebar-toggle-box">
                      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
                  </div>
                <!--logo start-->
                <a href="index.html" class="logo"><b>SHOWCASE</b></a>
                <!--logo end-->
                
                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                        <li><a class="logout" href="{{path('web_logout')}}">Logout</a></li>
                    </ul>
                </div>
            </header>
      

            <aside>
                <div id="sidebar"  class="nav-collapse ">
                  
                    <ul class="sidebar-menu" id="nav-accordion">
                        {% include "administrador/menu.html.twig" %}
                    </ul>
                  
                </div>
            </aside>             
            <section id="main-content">
                <section class="wrapper">

                    <div class="row">
                        <div class="col-lg-12 main-chart">
                            <div class="content-panel">
                                  <h4><i class="fa fa-angle-right"></i> Responsive Table</h4>
                                      <section id="unseen">
                                        <table class="table table-bordered table-striped table-condensed">
                                          <thead>
                                          <tr>
                                              <th>Code</th>
                                              <th>Company</th>
                                              <th class="numeric">Price</th>
                                              <th class="numeric">Change</th>
                                              <th class="numeric">Change %</th>
                                              <th class="numeric">Open</th>
                                              <th class="numeric">High</th>
                                              <th class="numeric">Low</th>
                                              <th class="numeric">Volume</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr>
                                              <td>AAC</td>
                                              <td>AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                                              <td class="numeric">$1.38</td>
                                              <td class="numeric">-0.01</td>
                                              <td class="numeric">-0.36%</td>
                                              <td class="numeric">$1.39</td>
                                              <td class="numeric">$1.39</td>
                                              <td class="numeric">$1.38</td>
                                              <td class="numeric">9,395</td>
                                          </tr>
                                          <tr>
                                              <td>AAD</td>
                                              <td>ARDENT LEISURE GROUP</td>
                                              <td class="numeric">$1.15</td>
                                              <td class="numeric">  +0.02</td>
                                              <td class="numeric">1.32%</td>
                                              <td class="numeric">$1.14</td>
                                              <td class="numeric">$1.15</td>
                                              <td class="numeric">$1.13</td>
                                              <td class="numeric">56,431</td>
                                          </tr>
                                          <tr>
                                              <td>AAX</td>
                                              <td>AUSENCO LIMITED</td>
                                              <td class="numeric">$4.00</td>
                                              <td class="numeric">-0.04</td>
                                              <td class="numeric">-0.99%</td>
                                              <td class="numeric">$4.01</td>
                                              <td class="numeric">$4.05</td>
                                              <td class="numeric">$4.00</td>
                                              <td class="numeric">90,641</td>
                                          </tr>
                                          <tr>
                                              <td>ABC</td>
                                              <td>ADELAIDE BRIGHTON LIMITED</td>
                                              <td class="numeric">$3.00</td>
                                              <td class="numeric">  +0.06</td>
                                              <td class="numeric">2.04%</td>
                                              <td class="numeric">$2.98</td>
                                              <td class="numeric">$3.00</td>
                                              <td class="numeric">$2.96</td>
                                              <td class="numeric">862,518</td>
                                          </tr>
                                          <tr>
                                              <td>ABP</td>
                                              <td>ABACUS PROPERTY GROUP</td>
                                              <td class="numeric">$1.91</td>
                                              <td class="numeric">0.00</td>
                                              <td class="numeric">0.00%</td>
                                              <td class="numeric">$1.92</td>
                                              <td class="numeric">$1.93</td>
                                              <td class="numeric">$1.90</td>
                                              <td class="numeric">595,701</td>
                                          </tr>
                                          <tr>
                                              <td>ABY</td>
                                              <td>ADITYA BIRLA MINERALS LIMITED</td>
                                              <td class="numeric">$0.77</td>
                                              <td class="numeric">  +0.02</td>
                                              <td class="numeric">2.00%</td>
                                              <td class="numeric">$0.76</td>
                                              <td class="numeric">$0.77</td>
                                              <td class="numeric">$0.76</td>
                                              <td class="numeric">54,567</td>
                                          </tr>
                                          <tr>
                                              <td>ACR</td>
                                              <td>ACRUX LIMITED</td>
                                              <td class="numeric">$3.71</td>
                                              <td class="numeric">  +0.01</td>
                                              <td class="numeric">0.14%</td>
                                              <td class="numeric">$3.70</td>
                                              <td class="numeric">$3.72</td>
                                              <td class="numeric">$3.68</td>
                                              <td class="numeric">191,373</td>
                                          </tr>
                                          <tr>
                                              <td>ADU</td>
                                              <td>ADAMUS RESOURCES LIMITED</td>
                                              <td class="numeric">$0.72</td>
                                              <td class="numeric">0.00</td>
                                              <td class="numeric">0.00%</td>
                                              <td class="numeric">$0.73</td>
                                              <td class="numeric">$0.74</td>
                                              <td class="numeric">$0.72</td>
                                              <td class="numeric">8,602,291</td>
                                          </tr>
                                          <tr>
                                              <td>AGG</td>
                                              <td>ANGLOGOLD ASHANTI LIMITED</td>
                                              <td class="numeric">$7.81</td>
                                              <td class="numeric">-0.22</td>
                                              <td class="numeric">-2.74%</td>
                                              <td class="numeric">$7.82</td>
                                              <td class="numeric">$7.82</td>
                                              <td class="numeric">$7.81</td>
                                              <td class="numeric">148</td>
                                          </tr>
                                          <tr>
                                              <td>AGK</td>
                                              <td>AGL ENERGY LIMITED</td>
                                              <td class="numeric">$13.82</td>
                                              <td class="numeric">  +0.02</td>
                                              <td class="numeric">0.14%</td>
                                              <td class="numeric">$13.83</td>
                                              <td class="numeric">$13.83</td>
                                              <td class="numeric">$13.67</td>
                                              <td class="numeric">846,403</td>
                                          </tr>
                                          <tr>
                                              <td>AGO</td>
                                              <td>ATLAS IRON LIMITED</td>
                                              <td class="numeric">$3.17</td>
                                              <td class="numeric">-0.02</td>
                                              <td class="numeric">-0.47%</td>
                                              <td class="numeric">$3.11</td>
                                              <td class="numeric">$3.22</td>
                                              <td class="numeric">$3.10</td>
                                              <td class="numeric">5,416,303</td>
                                          </tr>
                                          </tbody>
                                      </table>
                                      </section>
                              </div><!-- /content-panel -->
                    
                    
                        </div>
                    </div>
                </section>
            </section>

        </section>


            <div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{% block tituloConfirmacion %}Confirmaci칩n{% endblock %}</h4>
                  </div>
                  <div class="modal-body">
                    {% block contenidoConfirmacion %}<br>Est치 seguro que desea eliminar el registro?{% endblock %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="si" class="btn btn-default" data-dismiss="modal">Si</button>
                    <button type="button" id="no" class="btn btn-primary">No</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{% block tituloModal %}{% endblock %}</h4>
                  </div>
                  <div class="modal-body">
                     {% block contenidoModal %}<br>CARGANDO . . .{% endblock %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="si" class="btn btn-default" data-dismiss="modal">Guardar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            
           

            <div class="modal fade" id="modal-cargando" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  
                  <div class="modal-body">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
           
        {% block pagina %}
            <div class='cabecera'>
                {% block cabecera %}{% endblock %}
            </div>
            <div class='menu'>
                {% block menu %}{% endblock %}
            </div>
            <div class='contenido' id="contenido">
                {% block contenido %}{% endblock %}
            </div>
            <div class="pie">
                {% block pie %}{% endblock %}
            </div>
        {% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>
