<section id="unseen">
  <table class="table table-bordered table-striped table-condensed">
    <thead>

        <th>Imagen</th>
        <th>Vigencia</th>
        <th>Acciones</th>
    </thead>
    <tbody>
    
        {% for promocion in promociones %}
          <tr>
            <td ><img src="{{ asset(promocion.webPath) }}" style="height: 150px;"></td>
            <td >{{promocion.fechaInicio|date('d-m-Y')}} - {{promocion.fechaFin|date('d-m-Y')}} </td>
            <td ><a href="#" class="btn-editar" data-id="{{ promocion.id }}">Editar</a>|<a href="#" class="btn-eliminar" data-id="{{ promocion.id }}">Eliminar</a></td>
          </tr>
        {% else %} 
           <tr> 
              <td colspan="6">No hay promociones registradas</td>
           </tr>
        {% endfor %}
        
   
    
    </tbody>
  </table>
</section>
<script>
      $('.btn-editar').click(function(e){
        e.preventDefault();
        var id=$(this).data("id");
        $('#modal-title').html('');
        $('#modal-content').html('<br>CARGANDO . . .');
        $('#modal-footer').html('');
        $.ajax({
          url: '{{path("editarPromocion")}}',
          type: 'POST',
          dataType: 'html',
          data: {
              idElemento:id
          },
          success:function(data){
            
            $('#modal-title').html('Editar Promoción');
            $('#modal-content').html(data);
            $('#modal-footer').html('<button type="button" id="btn-cancelar" class="btn btn-danger" >Cancelar</button><button type="button" id="btn-actualizar" class="btn btn-danger" >Actualizar</button>');
            $('#modal').modal('show');
            $('#btn-actualizar').click(function(){
              $('#form-editar').submit();
            });
            $('#btn-cancelar').click(function(){
                  $('#btn-cancelar').unbind();
                  $('#btn-actualizar').unbind();
                  $('#modal').modal('hide');
                  $('#modal-title').html('');
                  $('#modal-content').html('<br>CARGANDO . . .');
                  $('#modal-footer').html('');
            });

          }

        });
      });
      $('.btn-eliminar').click(function(e){
        e.preventDefault();
        var id=$(this).data("id");
        $('#modalConfirm-title').html('Confirmación');
        $('#modalConfirm-content').html('<h4>¿Esta seguro que desea eliminar esta promoción?</h4>');
        $('#modalConfirm-footer').html('<button type="button" id="btn-no" class="btn btn-danger" >No</button><button type="button" id="btn-si" class="btn btn-danger" >Si</button>');
        $('#modalConfirmacion').modal('show');
        $('#btn-si').click(function(){
            $.ajax({
              url: '{{path("eliminarPromocion")}}',
              type: 'POST',
              dataType: 'json',
              data: { idElemento:id},
              success:function(data){
                $('#btn-si').unbind();
                $('#btn-no').unbind();
                $('#modalConfirmacion').modal('hide');
                $('#modalConfirm-title').html('');
                $('#modalConfirm-content').html('<br>CARGANDO . . .');
                $('#modalConfirm-footer').html('');
                if(data.valor){
                  mostrarMensaje(data.mensaje,'Exito');
                 

                       $.ajax({
                          type: "POST",
                          url: '{{path("registrosPromociones")}}',
                          dataType: "html",
                          success: function(data) {
                              $('#registros').html(data);
                          }
                      });
                  
                }else{
                  mostrarMensaje(data.mensaje,'Error');
                }
              }
            });
        });
        $('#btn-no').click(function(){
              $('#btn-si').unbind();
              $('#btn-no').unbind();
              $('#modalConfirmacion').modal('hide');
              $('#modalConfirm-title').html('');
              $('#modalConfirm-content').html('<br>CARGANDO . . .');
              $('#modalConfirm-footer').html('');
        });
      });
</script>