<script type="text/javascript">
	$('#form-editar').validate({
        rules: {
            'plan[nombre]': {  required: true },
            'plan[descripcion]': {  required: true },
        },
        messages:{
            'plan[nombre]': {  required: 'El campo Nombre es obligatorio' },
            'plan[descripcion]': {  required: 'El campo Descripcion es obligatorio'},
        },
        submitHandler: function(form) {
           enviar(form);
        },
        showErrors: function(errorMap, errorList) {
            if (errorList.length > 0) {
            }
        },
        invalidHandler: function(event, validator) {
            if (validator.errorList.length > 0) {
            	for (var i = 0; i < validator.errorList.length; i++) {
            		mostrarMensaje(validator.errorList[i].message,'Error');
            	};
                return false;
            }
        },
        errorPlacement: function(error, element) {
            return false;
        }
    });

     function enviar(form){
     	$('#modal-cargando').modal('show');
        var datos = $('#form-editar').serialize();
        $.ajax({
            url:"{{path('actualizarPlan')}}",
            type: 'post',
            dataType: 'json',
            data: datos,
            success: function (data){
                if(data.valor){
                	$.ajax({
			            type: "POST",
			            url: '{{path("registrosPlanes")}}',
			            dataType: "html",
			            
			            success: function(data) {
			                $('#registros').html(data);
			            }
			        });
                 	$('#btn-guardar').unbind();
                	$('#modal').modal('hide');
                    $('#modal-title').html('');
					$('#modal-content').html('<br>CARGANDO . . .');
					$('#modal-footer').html('');
					mostrarMensaje(data.mensaje,'Exito');         
                }else{
                	mostrarMensaje(data.mensaje,'Error');
                }

                $('#modal-cargando').modal('hide');
            }

        });

    }

    $('#plan_file').change(function (){
        validacion = true;
        var sizeByte = this.files[0].size;
        var nombre = this.files[0].name;
        var file,img;
        var extensiones=["JPG", "JPEG", "PNG"];
        var ext=nombre.substring(nombre.indexOf('.')+1).toUpperCase();
        if (extensiones.indexOf(ext) === -1){
            crearMensaje(0, 'Las extensiones permitidas son: jpg, jpeg y png.');
            $(this).val('');
            validacion= false;
        }else{
            $("#imgPreviewEmpresa").attr("style","display:block;");
            var file = $("#articulo_file").val();
            var ruta = URL.createObjectURL(this.files[0]);
            $("#imgPreviewEmpresa").fadeIn("fast").attr('src',URL.createObjectURL(this.files[0]));
        }
    });


</script>

{{ form_start(form, {'attr': {'id': 'form-editar','class':'form-horizontal style-form' }}) }}
	<input type="hidden" name="id_entity" value="{{entity.id}}">
    <div class="form-group">

	  <label class="col-sm-3 col-sm-3 control-label"><strong>Nombre (*)</strong></label>
	  <div class="col-sm-9">
	      {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
	  </div>
	</div>
    <div class="form-group">
        <label class="col-sm-3 col-sm-3 control-label"><strong>Precio (*)</strong></label>
        <div class="col-sm-9">
            {{ form_widget(form.precio, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 col-sm-3 control-label"><strong>Descripción (*)</strong></label>
      <div class="col-sm-9">
          {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-sm-3 control-label"><strong>Imagen (*)</strong></label>
        <div class="col-sm-9">
            {{ form_widget(form.file) }}
            {{ form_widget(form.file,{'attr':{'class':'input-file'}}) }}
            <img {% if not (entity.imagen) or entity.imagen == ""%}style="display: none"{%endif%} id="imgPreviewEmpresa" src="{% if entity.imagen and entity.imagen != ""%}{{asset('imagenes/articulos/' ~ entity.imagen)}}{%endif%}" alt="" height="80" />
        </div>
    </div>


{{ form_rest(form) }}