<h2 class="titulo">Articulos Destacados</h2>
<div class="contenedor destacados">
    {% set carrito = app.session.get('carrito') %}
    <h2></h2>
    <ul class="lista articulos">
        {% for articulo in articulos %}
            <li>
                <img src="{{ asset(articulo.webPath) }}" alt="{{ articulo.nombre }}" />
                <div class="informacion">
                    <h3>{{ articulo.nombre }}</h3>
                    <h4>{{ articulo.precio|number_format(0,',','.') }}</h4>
                    <span>{{ articulo.unidadMedida~' '~articulo.valorMedida }}</span><br />
                    <span id="unidades">{{ articulo.cantidad }} unidades</span>
                </div>
                <div class="contador">
                    <a class="menos" href="#" value="{{ articulo.id }}">Menos</a>
                    <span class="cantidad" id="cantidadArticulo">

                {% if carrito.items|length == 0 %}
                    0
                {% else %}
                    {% set break = false %}
                    {% for item in carrito.items if not break %}
                        {% if item.articulo == articulo.id %}
                            {{ item.cantidad }}
                            {% set break = true %}
                        {% endif %}
                    {% endfor %}
                    {% if not break %}
                        0
                    {% endif %}
                {% endif %}

                </span>
                    <a class="mas" href="#" value="{{ articulo.id }}">Mas</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    $(document).ready(function () {
        hoverLista("div.destacados ul.articulos li", "img", "div.informacion");
        setReservaArticulos();
    })
</script>