<h2 class="titulo">Establecimientos</h2>
{% include "web/establecimiento/destacados.html.twig" %}

<div class="contenedor" >
    <h2>{% if categoria is null %}Todos los establecimientos{% else %}{{ categoria.nombre|capitalize }}{% endif %} </h2>
    <ul class="lista establecimientos">
        {% for establecimiento in establecimientos %}
        <li>
            <img src="{{ asset(establecimiento.webPath) }}" alt="{{ establecimiento.nombre }}" />
            <h3>{{ establecimiento.nombre }}</h3>
            <a class="ver-mas" href="#" value="{{ establecimiento.id }}">Ver más</a>
        </li>
        {% endfor %}
    </ul>
    {% if paginador|length > 0 and paginador.getTotalPages() > 1 %}
        {{ include('paginacion/paginacion.html.twig', {'paginator' : establecimientos}) }}
    {% endif %}
</div>
<script>
    $(document).ready(function() {
        setVerMas();
        hoverLista("div.contenedor ul.establecimientos li", "img", "h3");
        hoverLista("div.destacados ul.articulos li", "img", "div.informacion");
        hoverLista("div.contArticulos ul.articulos li", "img", "div.informacion");

        $('ul.paginador a').click(function(e){
            e.preventDefault();
            let pagina = $(this).attr('value');
            e.preventDefault();
            {% if categoria is null %}
            var id = 0;
            {% else %}
            var id = {{ categoria.id }};
            {% endif %}
            $.ajax({
                type: "GET",
                url: "{{ path('establecimientosCategoria') }}/"+id +"/"+pagina,
                dataType: "html",
                success: function(data) {

                    $('#home').html(data);
                },
            });

        })
    });
</script>