
    <h2 class="titulo">Establecimiento</h2>
    <div class="carrusel">
        {% for foto in establecimiento.fotosEstablecimientos %}
        <img src="{{ asset(foto.webPath) }}" alt="{{ foto.titulo }}" />
        {% endfor %}
        <div class="cycle-pager"></div>
    </div>
    <div>
        <h3>{{ establecimiento.nombre }}</h3>
        <div id="star" class="rating">&nbsp;</div>
    </div>
    <div class="descripcion">
        <p>
        {{ establecimiento.descripcion|raw }}
        </p>
    </div>
    <ul class="informacion">
        <li class="ubicacion">{{ establecimiento.direccion }}</li>
        <li class="telefono">{{ establecimiento.telefono }}</li>
        <li class="whatsapp">{{ establecimiento.whatsapp|default('No definido') }}</li>
        <li class="correo">{{ establecimiento.correo|default('No definido') }}</li>
        <li class="sitioWeb">{{ establecimiento.sitioWeb }}</li>
    </ul>
    <div class="redes">
        {% if establecimiento.facebook is not null or
        establecimiento.twitter is not null or
        establecimiento.instagram is not null or
        establecimiento.snapchat is not null or
        establecimiento.youtube is not null %}
        Síguenos en:
        <ul>{#facebook twitter instagram snapchat youtube#}
            {% if establecimiento.facebook is not null %}
            <li class="facebook">
                <a href="{{ establecimiento.facebook }}" target="_blank" title="Facebook">Facebook</a>
            </li>
            {% endif %}
            {% if establecimiento.twitter is not null %}
            <li class="twitter">
                <a href="{{ establecimiento.twitter }}" target="_blank" title="Twitter">Twitter</a>
            </li>
            {% endif %}
            {% if establecimiento.instagram is not null %}
                <li class="instagram">
                    <a href="{{ establecimiento.instagram }}" target="_blank" title="Twitter">Instagram</a>
                </li>
            {% endif %}
            {% if establecimiento.snapchat is not null %}
                <li class="snapchat">
                    <a href="{{ establecimiento.snapchat }}" target="_blank" title="Twitter">Snapchat</a>
                </li>
            {% endif %}
            {% if establecimiento.youtube is not null %}
                <li class="youtube">
                    <a href="{{ establecimiento.youtube }}" target="_blank" title="Twitter">Youtube</a>
                </li>
            {% endif %}

        </ul>
        {% endif %}
    </div>
    <div class="contenedor contArticulos ">
        <h2>Artículos de este establecimiento</h2>
        {% set carrito = app.session.get('carrito') %}
        {% if articulos|length == 0 %}
            <h3>No hay resultados</h3>
        {% else %}
            <ul class="lista articulos">
                {% for articulo in articulos %}
                    <li>
                        {% if articulo.fotosArticulos|length >0 %}
                            <img src="{{ asset(articulo.fotosArticulos[0].webPath) }}" alt="{{ articulo.nombre }}" data-id="{{ articulo.id }}"/>
                        {% else %}
                            <img src="" alt="{{ articulo.nombre }}" data-id="{{ articulo.id }}"/>
                        {% endif %}
                        <div class="informacion">
                            <h3>{{ articulo.nombre }}</h3>
                            <h4>{{ articulo.precio|number_format(0,',','.') }}</h4>
                            <span>{{ articulo.unidadMedida~' '~articulo.valorMedida }}</span><br />
                            <span id="unidades">{{ articulo.cantidad }} unidades</span>
                        </div>
                        <div class="contador">
                            <a class="menos" href="#" value="{{ articulo.id }}">Menos</a>
                            <span class="cantidad" id="cantidadArticulo">
                            {% if carrito.items|length == 0 %}
                                0
                            {% else %}
                                {% set break = false %}
                                {% for item in carrito.items if not break %}
                                    {% if item.articulo == articulo.id %}
                                        {{ item.cantidad }}
                                        {% set break = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if not break %}
                                    0
                                {% endif %}
                            {% endif %}
                        </span>
                            <a class="mas" href="#" value="{{ articulo.id }}">Mas</a>
                        </div>
                    </li>

                {% endfor %}

            </ul>
        {% endif %}
    </div>
    {% include "web/establecimiento/ver.js.twig" %}