<script type="text/javascript">
  $('#form-editar').validate({
        rules: {

            'info[inicio]': {  required: true },

            'info[urlPlayStore]': {  url: true },
        },
        messages:{

            'info[inicio]': {  required: 'El campo Texto Inicio es obligatorio' },

            'info[urlPlayStore]': {  url: 'El campo URL Play Store tiene formato incorrecto'},
        },
        submitHandler: function(form) {
           enviar(form);
        },
        showErrors: function(errorMap, errorList) {
            if (errorList.length > 0) {
            }
        },
        invalidHandler: function(event, validator) {
            if (validator.errorList.length > 0) {
              for (var i = 0; i < validator.errorList.length; i++) {
                mostrarMensaje(validator.errorList[i].message,'Error');
              };
                return false;
            }
        },
        errorPlacement: function(error, element) {
            return false;
        }
    });

     function enviar(form){
      $('#modal-cargando').modal('show');
        var datos = new FormData(form);
        $.ajax({
            url:"{{path('actualizarInicio')}}",
            type: 'post',
            dataType: 'json',
            data: datos,
            processData: false,
            contentType: false,
            success: function (data){
                if(data.valor){
                  $.ajax({
                    type: "POST",
                    url: '{{path('infoAppPrincipal')}}',
                    dataType: "html",

                    success: function(data) {
                        $('#contenido').html(data);
                    }
                  });
                  $('#btn-guardar').unbind();
                  $('#modal').modal('hide');
                    $('#modal-title').html('');
                  $('#modal-content').html('<br>CARGANDO . . .');
                  $('#modal-footer').html('');
                  mostrarMensaje(data.mensaje,'Exito');         
                }else{

                  mostrarMensaje(data.mensaje,'Error');
                }

                $('#modal-cargando').modal('hide');
            }

        });

    }

  $('#info_fileCelular').change(function (){
      validacion=true;
      var sizeByte = this.files[0].size;
      var nombre = this.files[0].name;
      var file,img;
      var extensiones=["JPG", "JPEG", "PNG"];
      var ext=nombre.substring(nombre.indexOf('.')+1).toUpperCase();
      if (extensiones.indexOf(ext) === -1){
          crearMensaje(0, 'Las extensiones permitidas son: jpg, jpeg y png.');
          $(this).val('');
          validacion= false;
      }else{
          $("#imgPreviewEmpresa").attr("style","display:block;");
          var file = $("#articulo_file").val();
          var ruta = URL.createObjectURL(this.files[0]);
          $("#imgPreviewEmpresa").fadeIn("fast").attr('src',URL.createObjectURL(this.files[0]));
      }
  });

                  
  $('#close-modal').click(function(){
    $('#btn-guardar').unbind();
    $('#modal-title').html('');
    $('#modal-content').html('<br>CARGANDO . . .');
    $('#modal-footer').html('');
    
  });





</script>

{{ form_start(form, {'attr': {'id': 'form-editar','class':'form-horizontal style-form' }}) }}

<div class="form-group">
    <label class="col-sm-3 col-sm-3 control-label"><strong>Texto de Inicio(*)</strong></label>
    <div class="col-sm-9">
        {{ form_widget(form.inicio, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<input type="hidden" name="id_entity" value="{{ entity.id }}">

<div class="form-group">
    <label class="col-sm-3 col-sm-3 control-label"><strong>Imagen de Inicio(*)</strong></label>
    <div class="col-sm-9">
        {{ form_widget(form.fileCelular,{'attr':{'class':'input-file'}}) }}
        <img {% if not (entity.imagenInicio) or entity.imagenInicio == ""%}style="display: none"{%endif%} id="imgPreviewEmpresa" src="{% if entity.imagenInicio and entity.imagenInicio != ""%}{{asset('imagenes/inicio/' ~ entity.imagenInicio)}}{%endif%}" alt="" height="80" />
    </div>
</div>


<div class="form-group">
    <label class="col-sm-3 col-sm-3 control-label"><strong>URL Play Store</strong></label>
    <div class="col-sm-9">
        {{ form_widget(form.urlPlayStore, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

{{ form_rest(form) }}
