<div class="content-panel">
    <h4><i class="fa fa-angle-right"></i>Información de Showcase</h4>

    <div id="registros">
        <div class="row">

            <div class="col-sm-2 col-md-offset-2">
                Texto Inicio:
            </div>
            <div class="col-sm-8">
                {{ informacion.inicio|raw }}
            </div>


            <div class="col-sm-2 col-md-offset-2">
                Imagen Inicio :
            </div>
            <div class="col-sm-8">
                 {% if not (informacion.imagenInicio) or informacion.imagenInicio == ""%}
                     NO DEFINIDO
                 {% else %}
                     <img  src="{{asset('imagenes/inicio/' ~ informacion.imagenInicio)}}" alt=""  height="150"/>
                 {%endif%}
            </div>
            <div class="col-sm-2 col-md-offset-2">
                URL Play Store :
            </div>
            <div class="col-sm-8">
                <p>
                    {{ informacion.urlPlayStore|default('NO DEFINIDO') }}
                </p>
            </div>
        </div>
    </div>
    <div>

            <button id="btn-editar" type="button" class="btn btn-danger btn-principal">
                Editar
            </button>


    </div>
    <script>
        $(document).ready(function () {
           $('#btn-editar').click(function (e) {
               e.preventDefault();
               var id={{ informacion.id }}
               $.ajax({
                   url: '{{path("editarInicio")}}',
                   type: 'POST',
                   dataType: 'html',
                   data: { idElemento:id},
                   success:function(data){

                       $('#modal-title').html('Editar Información de Pagina de Inicio');
                       $('#modal-content').html(data);
                       $('#modal-footer').html('<button type="button" id="btn-cancelar" class="btn btn-danger" >Cancelar</button><button type="button" id="btn-actualizar" class="btn btn-danger" >Actualizar</button>');
                       $('#modal').modal('show');
                       $('#btn-actualizar').click(function(){
                           $('#form-editar').submit();
                       });
                       $('#btn-cancelar').click(function(){
                           $('#btn-cancelar').unbind();
                           $('#btn-actualizar').unbind();
                           $('#modal').modal('hide');
                           $('#modal-title').html('');
                           $('#modal-content').html('<br>CARGANDO . . .');
                           $('#modal-footer').html('');
                       });

                   }

               });
           });
        });
    </script>
</div>

