<section id="unseen">
    <h2>Datos Pedido</h2>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
    <th>Consecutivo</th>
    <th>Usuario</th>
        <th>Fecha</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Estado</th>

    </thead>
    <tbody>
    

          <tr>
              <td >{% set consecutivo = ""~entity.id %}

                  {% for a in entity.id|length..3 %}
                      {% set consecutivo = "0"~consecutivo %}
                  {% endfor %}
                  {{ consecutivo }}</td>
              <td >{{ entity.usuario.nombres|capitalize ~' '~entity.usuario.apellidos|capitalize }}</td>
            <td >{{ entity.fechaCreacion|date('d-m-Y H:i:s') }}</td>
              <td >{{ entity.direccion }}</td>
              <td >{{ entity.telefonoContacto }}</td>
              <td >{{ entity.estado }}</td>

          </tr>

        
   
    
    </tbody>
  </table>
    <h2>Articulos</h2>
    <table class="table table-bordered table-striped table-condensed">
        <thead>

        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>

        </thead>
        <tbody>
        {% set subtotal = 0 %}
        {% for articulo  in entity.articulosPedidos %}
            <tr>
                <td >{{ articulo.articulo.nombre}}</td>
                <td >${{ articulo.precio|number_format(0,',','.') }}</td>
                <td >{{ articulo.cantidad }}</td>

            </tr>
            {% set subtotal = subtotal + (articulo.precio * articulo.cantidad ) %}
        {% else %}
            <tr>
                <td colspan="5">No hay artículos </td>
            </tr>
        {% endfor %}



        </tbody>
    </table>

    <table class="table table-bordered table-striped table-condensed">

        <tbody>

            <tr>
                <td >SubTotal</td>
                <td >${{ subtotal|number_format(0,',','.') }}</td>


            </tr>
            <tr>
                <td >Precio Domicilio</td>
                <td >${{ entity.valorDomicilio|number_format(0,',','.') }}</td>


            </tr>
            <tr>
                {% set cupon = entity.cupon %}
                {% set valorCupon = 0 %}
                {% if cupon is not null %}
                    {% set valorCupon = cupon.valor %}
                {% endif %}
                <td >Cupón</td>
                <td >

                    ${{ valorCupon|number_format(0,',','.') }}
                </td>


            </tr>
            <tr>
                {% set total = subtotal + entity.valorDomicilio - valorCupon %}
                <td >Total</td>
                <td >${{ total|number_format(0,',','.') }}</td>


            </tr>





        </tbody>
    </table>

</section>
