
<h5 class="centered">Administrador</h5>
<h5 class="centered">
  {{ app.user.nombres }} {{app.user.apellidos}}
</h5>	
<li class="mt">
    <a class="active" href="#" value="{{path('usuarioPrincipal')}}">
        
        <span>Usuarios</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#" value="{{path('reservaPrincipal')}}">
        
        <span>Reservas</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#" value="{{path('planPrincipal')}}">
        
        <span>Planes</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#" value="{{path('zonaPrincipal')}}">
        
        <span>Zonas</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#" value="{{path('categoriaPrincipal')}}">
        
        <span>Categorias</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#" value="{{path('establecimientoPrincipal')}}">
       
        <span>Establecimientos</span>
    </a>
</li>
{#<li class="mt">
    <a class="" href="#" value="{{path('articuloPrincipal')}}">
       
        <span>Articulos</span>
    </a>
</li>#}
<li class="mt">
    <a class="" href="#" value="{{path('promocionPrincipal')}}">
        
        <span>Promociones</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#" value="{{path('cuponPrincipal')}}">

        <span>Cupones</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#" value="{{path('infoAppPrincipal')}}">

        <span>Informacion Aplicación</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#" value="{{path('estadisticasPrincipal')}}">

        <span>Estadisticas</span>
    </a>
</li>
<script>
    $(".mt a").click(function(evento){
        var opcion = $(this).attr('value');
        $(this).parent().parent().children().removeClass('active');
        $(this).parent().addClass('active');
       
        evento.preventDefault();
        $.ajax({
            url: opcion,
            type: 'POST',
            dataType: 'html',
            success:function(data){
                $('#contenido').html(data);
            }

        });
            
        
    });
</script>
