<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="index, all" >
    <title>ShowCase</title>

    <meta name="viewport" content="width-device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ asset('bundles/web/correo/css/genericos.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/web/correo/css/estilos.css') }}" />

    <script src="{{ asset('bundles/web/correo/lib/jquery.js') }}"></script>
    <script src="{{ asset('bundles/web/correo/lib/transit/transit.js') }}"></script>
    <script src="{{ asset('bundles/web/correo/lib/smoothscroll/smoothscroll.js') }}"></script>
    <script src="{{ asset('bundles/web/correo/js/showcase.js') }}"></script>
    <script src="{{asset('bundles/app/js/jquery-validate/jquery.validate.js')}}" type="text/javascript"></script>
</head>

<body>
<!-- Header (inicio) -->
<header id="header">
    <h1><img src="{{ asset('bundles/web/correo/img/logo_showcase.png') }}" alt="ShowCase"></h1>
</header>
<!-- Header (fin) -->
<section>
    <h2>Restablece tu contraseña</h2>
    <p>
        Te recomendamos ingresar una contraseña fuerte con mínimo 6 caracteres que incluya números, letras y signos de puntuación.
    </p>
    <form id="contrasenas" class="contrasenas" action="" method="">
        <div class="form">
            <label for="contrasena">Escribe tu contraseña nueva</label>
            <input type="password" id="contrasena" name="contrasena"></input>
        </div>
        <div class="form">
            <label for="contra_confir">Escribe tu contraseña nueva una vez más</label>
            <input type="password" id="contra_confir" name="contra_confir" ></input>
            <input type="hidden" name="correo" value="{{ correo }}">
            <input type="hidden" name="clave" value="{{ clave }}">
        </div>
        <button type="submit">Enviar</button>
        <div class="clearFix"></div>
    </form>
</section>
</body>
</html>


<script>
    $(document).ready(function () {
        $('#contrasenas').validate({
            rules: {

                'contra_confir': { equalTo: "#contrasena"},

                'contrasena': {required: true},

            },
            messages: {

                'contra_confir': {equalTo: 'Las contraseñas no son iguales'},

                'contrasena': {required: 'El campo Contraseña es obligatorio'},

            },
            submitHandler: function (form) {
                enviar(form);
            },
            showErrors: function (errorMap, errorList) {
                if (errorList.length > 0) {
                }
            },
            invalidHandler: function (event, validator) {
                if (validator.errorList.length > 0) {
                    for (var i = 0; i < validator.errorList.length; i++) {
                        $(validator.errorList[i].element).after('&nbsp;<span>'+validator.errorList[i].message+'</span>');
                        $(validator.errorList[i].element).addClass('error');
                    }
                    ;
                    return false;
                }
            },
            errorPlacement: function (error, element) {
                return false;
            }
        });
    });

    function enviar(form){

        var datos = $('#contrasenas').serialize();
        var errores = [];
        $.ajax({
            url:"{{path('realizarCambio')}}",
            type: 'post',
            dataType: 'json',
            data: datos,

            success: function (data){
                if(data.estado){
                    window.location.href = "{{ path('cambioExitoso') }}";
                }
            }

        });

    }
</script>

