<section id="unseen">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Peso</th>
        <th>Plan</th>
        <th>Acciones</th>
    </thead>
    <tbody>
    
        {% for establecimiento in establecimientos %}
          <tr>
            <td >{{establecimiento.nombre}}</td>
            <td >{{establecimiento.direccion}}</td>
            <td >{{establecimiento.telefono}}</td>
            <td >{{establecimiento.peso}}</td>
            <td >{{establecimiento.plan.nombre}}</td>
            <td ><a href="#" class="btn-editar" data-id="{{ establecimiento.id }}">Editar</a>|<a href="#" class="btn-eliminar" data-id="{{ establecimiento.id }}">Eliminar</a>|<a href="#" class="btn-articulos" data-id="{{ establecimiento.id }}">Articulos</a>|<a href="#" class="btn-fotos" data-id="{{ establecimiento.id }}">Fotos</a></td>

          </tr>
        {% else %} 
           <tr> 
              <td colspan="6">No hay establecimientos registrados</td>
           </tr>
        {% endfor %}
        
   
    
    </tbody>
  </table>
</section>
<script>
      $('.btn-editar').click(function(e){
        e.preventDefault();
        var id=$(this).data("id");
        $('#modal-title').html('');
        $('#modal-content').html('<br>CARGANDO . . .');
        $('#modal-footer').html('');
        $.ajax({
          url: '{{path("editarEstablecimiento")}}',
          type: 'POST',
          dataType: 'html',
          data: { idElemento:id},
          success:function(data){
            
            $('#modal-title').html('Editar de Establecimiento');
            $('#modal-content').html(data);
            $('#modal-footer').html('<button type="button" id="btn-cancelar" class="btn btn-danger" >Cancelar</button><button type="button" id="btn-actualizar" class="btn btn-danger" >Actualizar</button>');
            $('#modal').modal('show');
            $('#btn-actualizar').click(function(){
              $('#form-editar').submit();
            });
            $('#btn-cancelar').click(function(){
                  $('#btn-cancelar').unbind();
                  $('#btn-actualizar').unbind();
                  $('#modal').modal('hide');
                  $('#modal-title').html('');
                  $('#modal-content').html('<br>CARGANDO . . .');
                  $('#modal-footer').html('');
            });

          }

        });
      });
      $('.btn-eliminar').click(function(e){
        e.preventDefault();
        var id=$(this).data("id");
        $('#modalConfirm-title').html('Confirmacion');
        $('#modalConfirm-content').html('<h4>¿Esta seguro que desea eliminar este establecimiento?</h4>');
        $('#modalConfirm-footer').html('<button type="button" id="btn-no" class="btn btn-danger" >No</button><button type="button" id="btn-si" class="btn btn-danger" >Si</button>');
        $('#modalConfirmacion').modal('show');
        $('#btn-si').click(function(){
            $.ajax({
              url: '{{path("eliminarEstablecimiento")}}',
              type: 'POST',
              dataType: 'json',
              data: { idElemento:id},
              success:function(data){
                $('#btn-si').unbind();
                $('#btn-no').unbind();
                $('#modalConfirmacion').modal('hide');
                $('#modalConfirm-title').html('');
                $('#modalConfirm-content').html('<br>CARGANDO . . .');
                $('#modalConfirm-footer').html('');
                if(data.valor){
                  mostrarMensaje(data.mensaje,'Exito');
                 

                       $.ajax({
                          type: "POST",
                          url: '{{path("registrosEstablecimientos")}}',
                          dataType: "html",
                          
                          success: function(data) {
                              $('#registros').html(data);
                          }
                      });
                  
                }else{
                  mostrarMensaje(data.mensaje,'Error');
                }
              }
            });
        });
        $('#btn-no').click(function(){
              $('#btn-si').unbind();
              $('#btn-no').unbind();
              $('#modalConfirmacion').modal('hide');
              $('#modalConfirm-title').html('');
              $('#modalConfirm-content').html('<br>CARGANDO . . .');
              $('#modalConfirm-footer').html('');
        });
      });

    $('.btn-articulos').click(function (e) {
        e.preventDefault();
        var id=$(this).data("id");
        $.ajax({
            url: '{{path("articuloPrincipal")}}',
            type: 'POST',
            dataType: 'html',
            data: { idElemento:id},
            success:function(data){

                $('#contenido').html(data);
            }
        });
    });
</script>